<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem name="RealEstate"
        id="menu_real_estate"
        sequence="20"
        web_icon="real_estate,static/description/icon.png"
        groups="base.group_user,base.group_partner_manager"/>

    <menuitem id="re_menu_contacts"
        name="List"
        action="action_contacts"
        parent="menu_real_estate"
        sequence="2"
        groups="base.group_user"/>

    <menuitem id="re_menu_config"
        name="Configuration"
        parent="menu_real_estate"
        groups="base.group_system"
        sequence="3"/>

  

    

 
</odoo>
